/*  your css code here. If applicable */
#timer{
	background-color:yellow;
	height:200px;
	text-align:center;
	padding:30px;
}
p{
	background-color:white;
	font-size:2em;
	color:rgb(41, 9, 247);
	margin:20px 12%;
}
button{
	background-color:#303841;
	border:none;
	color:red;
	padding:20px 40px;
	text-align:center;
	font-size:1.6em;
}